<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Django</title>
</head>
<body>
    <h1>바로가기</h1>
    <a href="/blog/home">blog home</a><br>
    <a href="/blog/post">blog post</a><br>
    <a href="/blog/create">blog create</a><br>
    <br>
    <a href="/shopping/admin">Shopping admin</a><br>
    <a href="/shopping/item">Shopping item</a><br>
    <a href="/shopping/shop">Shopping shop</a><br>
    <br>
    <a href="/payment/cart">payment cart</a><br>
    <a href="/payment/complete">payment complete</a><br>
    <a href="/payment/purchase">payment purchase</a><br>
    <br>
    <a href="/local/local_shops">local local-shops</a><br>
</body>
</html>